body{
    text-align: center;
    background-color: #87ceeb;
    font-weight: 100px;
    border: 3.5px solid green;
    padding: 15px;
    color: antiquewhite;
}
footer{
    color: green;
    text-decoration: underline;
}

span{
    text-decoration:underline;
    cursor: pointer;
    color: green;
}
h2{
    text-align: left;
    color: antiquewhite;

}
/* .one{
    /* display: flex;
    flex-direction: column; */
    /* position: absolute;
    top: 12;
    left: 12;

}
.two{
    position: absolute; */
    /* bottom: 5px;
    left: 10px;
}
span img{
    display: inline-block;
    /* flex-wrap: wrap; */
    /* position: absolute;
    top: 40px;
    right: -30px;
} */ 