body{
    text-align: center;
    background-color: #87ceeb;
    font-weight: 100px;
    border: 3.5px solid green;
    padding: 15px;
    color: antiquewhite;
}
.container {
    width: 80%;
    margin: 0 auto;
}
footer{
    color: green;
    text-decoration: underline;
}

span{
    text-decoration:underline;
    cursor: pointer;
    color: green;
}
h2{
    text-align: left;
    color: antiquewhite;

}
span img{
    float: right;
    margin-left: 15px;
    margin-bottom: 15px;
    width: 300px;

}
/* article{
    clear: both;
} */
/* Try float */
/*  */